@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-icon-compass:before {
  content: "\e900";
  color: #fff;
  transition: all 0.5s ease;
}
._icon-icon-envelope:before {
  content: "\e901";
  color: #fff;
  transition: all 0.5s ease;
}
._icon-icon-calendar:before {
  content: "\e902";
  color: #fff;
  transition: all 0.5s ease;
}

._icon-icon-compass:hover:before {
  content: "\e900";
  color: #01813F;
}
._icon-icon-envelope:hover:before {
  content: "\e901";
  color: #01813F;
}
._icon-icon-calendar:hover:before {
  content: "\e902";
  color: #01813F;
}